.main {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

.main-section {
  height: calc(100% - 65px);
  padding: 1.5rem;
  overflow-y: auto;
  width: 100%;
}

.main-header {
  margin: 0 1rem 1rem;
  border-bottom: 1px solid $shadow;
  padding-bottom: 1rem;
}
