.menu {
  box-shadow: 2px 2px 8px $shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  min-width: 250px;
  width: 250px;
}

.menu-submenu {
  display: none;
  position: absolute;
  background-color: $white;
  box-shadow: 0px 5px 30px $shadow;
  border-radius: 0 5px 5px 5px;
  padding: 0.3rem 0;
  width: 125px;
  z-index: 10;
  &.is-active {
    display: block;
    animation: dropDown ease-out 0.2s;
  }
}

.submenu-item {
  align-items: center;
  display: inline-flex;
  padding: 1rem;
  width: 100%;
  .icon {
    margin-right: 0.4rem;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  &:hover {
    background-color: $background;
    cursor: pointer;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-header {
  background-color: $background;
  padding: 1.5rem 1rem;
}

.menu-block {
  display: block;
  padding: 1rem;
}

.menu-list {
  list-style: none;
  height: 100%;
  overflow-y: auto;
}

.menu-item {
  position: relative;
}

.menu-link {
  color: $font-light;
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  text-decoration: none;
  &.is-active {
    color: $font;
    font-weight: 700;
    &::before {
      width: 4px;
    }
  }
  &.is-selected {
    background-color: $background-active;
  }
  &::before {
    content: "";
    background: $primary;
    border-radius: 25px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
  }
  &:hover {
    &:not(.is-active) {
      &:not(.is-selected) {
        background-color: $background;
      }
    }
  }
}

#new-list-button {
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  z-index: 5;
  &.is-disabled {
    box-shadow: none;
    width: 0;
    z-index: 4;
  }
}

#new-list-input {
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  padding: 1rem;
  position: absolute;
  opacity: 0;
  width: 0;
  z-index: 4;
  &.is-active {
    opacity: 1;
    width: calc(100% - 45px);
    z-index: 5;
  }
}

#edit-list-input {
  margin: 0.2rem 1.4rem;
  width: 205px;
}
