.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .toolbar-left {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .toolbar-right {

  }
  .button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.task {
  align-items: center;
  animation: fadeIn 0.3s forwards;
  display: flex;
  padding: 1rem;
  .checkbox {
    margin-right: 1rem;
  }
  p {
    line-height: 1.5;
  }
  &.complete {
    p {
      color: $font-light;
      text-decoration: line-through;
    }
  }
  &.fade-out {
    animation: fadeOut 0.3s forwards;
  }
  &:hover {
    background-color: $background;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

#task-form {
  position: relative;
  margin-left: 1.5rem;
}

#task-input {
  box-shadow: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  transition: width 0.4s ease;
  width: 100%;
}

.icon {
  &.list-add {
    position: absolute;
    top: 6px;
    left: -6px;
  }
}
