.main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main-section {
  padding: 1.5rem;
  width: 100%;
}

.main-header {
  margin: 0 1rem 1rem;
  border-bottom: 1px solid $shadow;
  padding-bottom: 1rem;
}
