.input {
  @include main-font;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.33);
	box-shadow: 0 4px 8px $shadow;
  color: #384053;
  font-size: 1rem;
  outline: 0;
  padding: 8px;
	width: 100%;
  &:focus {
    border-color: #196ee6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.04);
  }
}

// Checkboxes
.checkbox {
	position: relative;
  box-shadow: 1px 1px 6px $shadow;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"] + label::after {
	content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
	content: "";
}

.checkbox label::before {
  background: $white;
	border-radius: 3px;
	border: 1px solid $shadow;
	content: "";
  cursor: pointer;
	display: block;
	height: 20px;
	left: 0;
	padding: 8px;
	position: absolute;
	top: 0;
	width: 20px;
}

.checkbox label::after {
	border-bottom: 2px solid #196ee6;
	border-right: 2px solid #196ee6;
	content: "";
  cursor: pointer;
	height: 9px;
	left: 7px;
	position: absolute;
	top: 5px;
	transform: rotate(45deg);
	width: 6px;
}
