.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 15px $shadow;
}

.nav-center {
  flex-grow: 1;
  margin-left: 0;
}

.nav-item {
  padding: 1rem;
}
