.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 15px $shadow;
}

.nav-left {
  width: 250px;
}

.nav-center {
  border-left: 1px solid $shadow;
  flex-grow: 1;
  margin-left: 0;
}

.nav-right {

}

.nav-item {
  padding: 1rem;
}
